<form class="book-search">
                    <label>Search for a book</label>
                    {{!--{{#if (sessionuser session_user, list.userId)}} true {{else}} false{{/if}}--}}
                    <input type="text" id="search-input"><button type="submit" class="btn btn-primary mb-2" id="searchSubmit">Search</button>
                </form>
                <div id="main-content">
                    <a href="/list/{{list.id}}"><button class="btn btn-primary" id="return">Return to list: {{list.title}}</button></a>

                </div>
                <div id="script-div">

                </div>

<script src="../js/search.js"></script>

<script src="../js/search3.js"></script>
