<form class="edit-list-form">
    <div class="form-group">
        <label for="listTitle">List Title</label>
        <input type="text" class="form-control" id="list-title" value="{{list.title}}">
    </div>
    <div class="form-group">
        <label for="listDescr">List Description</label>
        <textarea class="form-control" id="list-descr" rows="3">{{list.listDesc}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2" id="listEdit">Update List</button>
</form>

<script src="/js/editList.js"></script>