        <h1>Welcome to My Website!</h1>
        <p>This is a simple homepage template using Handlebars and Bootstrap.</p>
        
        {{#if messages}}
        <div>
            <h2>Messages</h2>
            <ul>
                {{#each messages}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        {{else}}
        <p>No new messages.</p>
