<div type="container">
    <div type="row">
        <div type="card">
            <div type="card-header">
                {{title}}
            </div>
            <div type="card-body">
                {{list_desc}}
            </div>
        </div>
    </div>
{{!--{{#each list.listitem.books}}
example text
{{list.listitem.books.title}}
{{/each}}--}}
</div>
