<div type="container">
    <div type="row">
        <div type="card">
            <div type="card-header">
                {{title}}
            </div>
            <div type="card-body">
                {{list_desc}}
            </div>
        </div>
    </div>
    {{#each list.book as |book|}}
            example text
        {{book.title}}
    {{/each}}
</div>
