<h3>Your Lists</h3>
</br>

<div class="container">

  <div class="row flex-row">
    {{#each lists as |list|}}
    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <a href="/list/{{list.id}}" class="card-link">
            <h5 class="card-title">{{list.title}}</h5>
            <p class="card-text">{{list.listDesc}}</p>
            </a>
      </div>
    </div>
    </div>
{{/each}}

    </div>
  </div>
</div>

</div>
