/* body styling*/

body {
  font-family: 'Optima', sans-serif;
}

/*nav bar styling*/

.navbar{
  background-color: #7F9EAF;
  color: white;
}

/* button styling*/

#top-anchor{
  margin-top: 20px;
}

#add-button{
  margin-left: 20px;
}

#listSubmit{
  margin-top: 20px;
}

#listEdit{
  margin-top: 20px;
}

.btn {
  border: 0px;
}

.btn-primary {
  background-color: #17A088;
}

.btn-primary:hover{
  background-color: #476271;
}

a:link {
  color: #182126;
  text-decoration: none;
}

a:visited {
  color: #6A252D;
  text-decoration: none;
}

a:hover {
  color: #0F6B5A;
  text-decoration: none;
}

a:active {
  color: #0F6B5A;
  text-decoration: none;
}

/*card styling*/

.card {
  border-color: #E6ECEF;
}

.card-header {
  background-color: #B4C6D0;
}

.card-footer {
  background-color: #F3F6F7;
}